
<%- include('headers') %> 
    
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center d-flex justify-content-center align-items-center flex-column">
        <h1>Welcome to Registration page</h1>
        <a href="/login" class="btn btn-danger w-25 m-2">Login</a>
        <a href="/signup"class="btn btn-success w-25">SignUp</a>
    </div>
</section>
</body>
</html>

<%- include('footer')  %> 